* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
#root,
.App {
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}

/* *************************** */
/*     Homepage     */
.main-content {
  background: linear-gradient(#40ccff, #aae8ff);
  height: 70vh;
  width: 700px;
  position: absolute;
  left: -100px;
  border-radius: 0 0 50% 50%;
  z-index: 2;
}

.nav-cover {
  background: #40ccff;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
}
.welcome {
  position: absolute;
  left: 133px;
  top: 150px;
}
.brand-name-home {
  display: block;
  padding-left: 10px;
  font-size: 2.8rem;
  padding-top: 5px;
}

.map-image {
  z-index: -1;
  position: absolute;
  bottom: -100px;
}
.homepage {
  height: 100%;
}
.zipcode-form-input {
  width: 300px;
  margin-top: 50px;
}
.zipcode-form-input label {
  display: block;
  font-size: 1rem;
  padding-bottom: 5px;
}
.zipcode-form-input input {
  width: 90%;
  padding: 5px;
  box-shadow: none;
}
.fa-angle-right {
  background: goldenrod;
  height: 100%;
  width: 30px;
  text-align: center;
  padding-top: 6px;
}
.zipcode-input-line {
  border: none;
  display: flex;
  border: 1px solid #40ccff;
}
input:focus,
input:active {
  border: none;
  outline: none;
}

/* *************************** */
/*     Navbar     */
nav {
  background-color: rgb(89, 196, 242);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.fa-chevron-left {
  font-size: 20px;
}
.fa-shopping-cart {
  font-size: 20px;
}
/* *************************** */
/* Product List Page */
.product-image {
  width: 50px;
  border: 1px solid black;
}

.product-image > img {
  width: 100%;
  /* width: 50px; */
}

/* Toggled on Product Show Page */
.display-none {
  display: none;
}
.select-item {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 25px 15px 0 20px;
}

.product-list-page-div {
  height: 100%;
}

.products-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Product List/thumbnail */
.productThumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
  height: 174px;
  left: 198px;
  top: 151px;
  background: #ffffff;
  border: 1px solid #40ccff;
  border-radius: 20px 20px 0px 0px;
  margin: 5px;
  margin-bottom: 20px;
}
.product-image-div {
  width: 100%;
}
.productThumbnailImg {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.productName {
  height: 48px;
  left: 198px;
  top: 582px;
  background: #ade9ff;
  border: 1px solid #40ccff;
  border-radius: 0px 0px 20px 20px;
}

.productName p {
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.store-image-div {
  width: 50px;
}

.store-image-div img {
  width: 100%;
}

/* *************************** */
/* Store List Page */
.select-store {
  margin-top: 50px;
}

.StoreCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.store-image-div {
  width: 75px;
}
.store-info-div {
}
/* *************************** */
/* Store Show Page */
.select-store {
  margin-top: 50px;
}

.StoreCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: space-evenly;
}
.product-image {
  max-height: 50%;
}

.tp-image img {
  max-width: 50%;
  max-height: 50%;

}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 174px;
  left: 198px;
  top: 151px;
  background: #ffffff;
  border: 1px solid #40ccff;
  border-radius: 20px 20px 0px 0px;
  margin: 5px;
  margin-bottom: 20px;
}

.target-logo {
  max-width: 60vw;
}

.product-info {
  font-size: .9rem;
}

/* *************************** */
/* My Cart Page */
.my-items {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.cart-item-image img {
  width: 100%;
}
.cart-item > div {
  border-top: 1px solid rgba(213, 213, 213, 0.653);
  border-bottom: 1px solid rgba(213, 213, 213, 0.653);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}
.cart-item-image {
  width: 100px;
}
.cart-item-info {
  display: flex;
  justify-content: space-between;
}
.cart-product-info {
  font-size: 0.9rem;
}
.fa-times {
  width: 30px;
  text-align: right;
  color: rgba(111, 111, 111, 0.653);
}

.numbers-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.add-to-cart {
  display: flex;
  width: 50%;
  justify-content: center;
}
.add-to-cart input[type="text"] {
  width: 30px;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgba(213, 213, 213, 0.653);
  text-align: center;
}
.add-to-cart .fas {
  padding: 5px 10px;
}
.fa-plus {
  color: goldenrod;
}
.fa-minus {
  color: gray;
}
.cart-plus-one {
  background: goldenrod;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  top: 5px;
  right: 5px;
}
/* *************************** */
/* Checkout Page */
.checkout-nav {
  background-color: #40ccff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

label {
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.payment-form {
  height: 70vh;
  padding: 70px 20px 0 20px;
}
.payment-form a {
  color: #40ccff;
  font-size: 0.8rem;
}
.payment-method,
.delivery-address {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.payment-top,
.delivery-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: baseline;
}
.payment-bottom,
.delivery-bottom {
  display: flex;
  justify-content: flex-start;
}
.payment-bottom p,
.delivery-bottom > div {
  padding-right: 10px;
}
.payment-bottom p:nth-of-type(2),
.address p {
  color: gray;
}

.delivery-options > p {
  padding-bottom: 10px;
}

.delivery-options div {
  padding: 10px;
}

.pick-up-btn-selected {
  border: 1px solid #40ccff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checked {
  color: #40ccff;
  padding-right: 5px;
}
.fa-walking,
.fa-car {
  /* padding-right: 15px; */
  padding-left: 10px;
}

.fa-credit-card,
.fa-home {
  width: 40px;
  text-align: center;
}

.delivery-btn {
  display: flex;
}
.icon {
  display: inline-block;
  width: 40px;
}
.icon + span {
  color: rgb(65, 65, 65);
}

.confirm-order {
  /* background: red; */
  padding: 20px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding-bottom: 20px;
}
.confirm-order-btn {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: goldenrod;
  border: none;
  font-size: 1.1rem;
}
