* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}
#root,
.App {
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}

/* *************************** */
/*     Homepage     */
.main-content {
  background: linear-gradient(#40ccff, #aae8ff);
  height: 70vh;
  width: 700px;
  position: absolute;
  left: -100px;
  border-radius: 0 0 50% 50%;
  z-index: 2;
}

.nav-cover {
  background: #40ccff;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
}
.welcome {
  position: absolute;
  left: 133px;
  top: 150px;
}
.welcome h1 {
  font-weight: lighter;
}
.brand-name-home {
  display: block;
  padding-left: 10px;
  font-size: 2.8rem;
  padding-top: 5px;
  font-weight: bold;
}

.map-image {
  z-index: -1;
  position: absolute;
  bottom: -100px;
}
.homepage {
  height: 100%;
}
.zipcode-form-input {
  width: 300px;
  margin-top: 50px;
}
.zipcode-form-input label {
  display: block;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

input::placeholder {
  color: rgb(199, 199, 199);
}
.zipcode-form-input input {
  width: 90%;
  padding: 5px;
  box-shadow: none;
}
.fa-angle-right {
  background: #fdb241;
  height: 100%;
  width: 30px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 0 0 1px black;
}
.zipcode-input-line {
  border: none;
  display: flex;
  border: 1px solid #40ccff;
}
input:focus,
input:active {
  border: none;
  outline: none;
}

/* *************************** */
/*     Navbar     */
nav {
  background-color: rgb(89, 196, 242);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.fa-chevron-left {
  font-size: 20px;
}
.fa-shopping-cart {
  font-size: 20px;
}
/* *************************** */
/* Product List Page */
.product-image {
  width: 50px;
  border: 1px solid black;
}

.product-image > img {
  width: 100%;
  /* width: 50px; */
}

/* Toggled on Product Show Page */
.display-none {
  display: none;
}
.select-item {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 25px 15px 0 20px;
}

.product-list-page-div {
  height: 100%;
}

.products-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Product List/thumbnail */
.productThumbnail {
  border: 2px solid #ade9ff;
  /* border-radius: 20px 20px 0px 0px; */
  border-radius: 20px;
  display: flex;
  width: 45%;
  height: 200px;
  /* height: 174px; */
  margin: 5px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
  height: 174px;
  left: 198px;
  top: 151px;
  background: #ffffff;
  border: 1px solid #40ccff;
  margin: 5px;
  margin-bottom: 20px; */
}
.product-image-div {
  width: 100%;
  /* width: 100%; */
  height: 200px;
}
.productThumbnailImg {
  /* border-radius: 20px 20px 0px 0px;
  width: 100%; */
  width: 100%;
  margin-top: 20px;
}
.productName {
  background: #ade9ff;
  border: 2px solid #ade9ff;
  height: 48px;
  width: 103%;
  position: relative;
  top: -20px;
  left: -2.5px;
  border-radius: 0 0 20px 20px;
  /* height: 48px;
  left: 195px;
  top: 582px;
  width: 102%;
  background: #ade9ff;
  border: 1px solid #40ccff;
  border-radius: 0px 0px 20px 20px; */
}

.productName p {
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.store-image-div {
  width: 50px;
}

.store-image-div img {
  width: 100%;
}

/* *************************** */
/* Store List Page */
.select-store {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.StoreCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.StoreCard:nth-of-type(1),
.StoreCard:nth-of-type(2) {
  border-bottom: 1px solid rgba(203, 203, 203, 0.427);
}
.distance p {
  font-size: 0.9rem;
}
.distance {
  justify-self: flex-end;
  text-align: right;
}
.fa-star {
  color: #F3603F;
}
.store-image-div {
  width: 75px;
}
.store-info-div {
  width: 200px;
}
.store-info-div p {
  font-size: 0.9rem;
  padding-bottom: 2px;
}

.store-name {
  padding-bottom: 10px;
}
.store-name h2 {
  padding-bottom: 5px;
}
.store-name p {
  font-size: 0.9rem;
  font-weight: lighter;
}
.more-store-info p {
  padding-bottom: 5px;
  font-size: 0.8rem;
}
/* *************************** */
/* Store Show Page */
.StoreCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-container {
  width: 80%;
}

.target-logo {
  max-width: 230px;
}

.target-search {
  width: 83%;
  padding: 10px 18px;
  border-radius: 20px;
  color: #6D6565;
  background-color: #f1f0f0;
  border: none;
  margin-bottom: 5px;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tp-text {
  margin-top: 5px;
  margin-bottom: 25px;
}

.fa-plus-circle {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 35px;
  color: #fdb241;
}

.tp-image img {
  max-width: 100%;
  padding: 12px 40px;
  border: 2px solid #ade9ff;
  border-radius: 20px;
  margin-top: 15px;
}
/* *************************** */
/* Product Show Page */
.product-show-image {
  width: 250px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 60px;
}
.product-show-title {
  padding: 20px;
}

.add-to-cart {
  display: flex;
  margin-left: 30px;
  height: 45.67px;
  width: 45.67px;
}

.add-to-cart .fa-plus {
  font-size: 20px;
  margin: 5px 0 0 6px;
  color: #FDB241;
}
.add-to-cart .fa-minus {
  font-size: 20px;
  margin: 5px 6px 0 0;
  color: #D0D0D0;
}

.price {
  margin-right: 16px;
  margin-top: 10px;
}
.numbers-container {
  border-bottom: 1px solid #d0d0d0;
}
.product-detail {
  margin-top: 20px;
  border-bottom: 1px solid #d0d0d0;
}
.product-detail h4{
  padding-bottom: 4px;
  margin-left: 10px;
}
.product-detail p {
  color: #7C7C7C;
  line-height: 25px;
  padding: 10px;
}
.product-detail .fa-chevron-down {
  position: sticky;
  left: 91.2%;
  padding-bottom: 5px;
}

.product-reviews {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 5px;
}

.stars {
  margin-left: 154px;
}


.product-reviews span {

  margin-right: 9px;
}


/* *************************** */
/* My Cart Page */
.my-items {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.cart-item-image img {
  width: 100%;
}
.cart-item > div {
  border-top: 1px solid rgba(213, 213, 213, 0.653);
  border-bottom: 1px solid rgba(213, 213, 213, 0.653);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}
.cart-item-image {
  width: 100px;
}
.cart-item-info {
  display: flex;
  justify-content: space-between;
}
.cart-product-info {
  font-size: 0.9rem;
}
.fa-times {
  width: 30px;
  text-align: right;
  color: rgba(111, 111, 111, 0.653);
}

.numbers-container {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 11px;;
}
.add-to-cart-button {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 11px;
  margin-left: 33px;
  font-size: 110%;
  height: 58px;
  border-radius: 20px;
  background-color: #FDB241;
  border: none;
}
.add-to-cart input[type="text"] {
  width: 45px;
  border-radius: 17px;
  padding: 5px;
  border: 1px solid rgba(213, 213, 213, 0.653);
  text-align: center;
}
.add-to-cart .fas {
  padding: 5px 10px;
}
.fa-plus {
  color: #fdb241;
}
.fa-minus {
  color: gray;
}
.cart-plus-one {
  background: #fdb241;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  top: 12px;
  right: 7px;
}


/* *************************** */
/* Checkout Page */
.checkout-nav {
  background-color: #40ccff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

label {
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.payment-form {
  height: 70vh;
  padding: 70px 20px 0 20px;
}
.payment-form a {
  color: #40ccff;
  font-size: 0.8rem;
}
.payment-method,
.delivery-address {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.payment-top,
.delivery-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: baseline;
}
.payment-bottom,
.delivery-bottom {
  display: flex;
  justify-content: flex-start;
}
.payment-bottom p,
.delivery-bottom > div {
  padding-right: 10px;
}
.payment-bottom p:nth-of-type(2),
.address p {
  color: gray;
}

.delivery-options > p {
  padding-bottom: 10px;
}

.delivery-options div {
  padding: 10px;
}

.pick-up-btn-selected {
  border: 1px solid #40ccff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checked {
  color: #40ccff;
  padding-right: 5px;
}
.fa-walking,
.fa-car {
  /* padding-right: 15px; */
  padding-left: 10px;
}

.fa-credit-card,
.fa-home {
  width: 40px;
  text-align: center;
}

.delivery-btn {
  display: flex;
}
.icon {
  display: inline-block;
  width: 40px;
}
.icon + span {
  color: rgb(65, 65, 65);
}

.confirm-order {
  /* background: red; */
  padding: 20px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 20px;
}
.confirm-order-btn {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: #fdb241;
  border: none;
  font-size: 1.1rem;
}
